@import "globals";

html, body, div#react-container {
  min-height: 100%;
  color: #444;
  background: #ffe;
}

h1 {
  @include clear;
}
p , span{
  font-family: MicroSoft YaHei;
  letter-spacing: 1px;
  &.day{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
  }
}
p {
  font-size: 16px;
  flex-basis: 100%;
  text-indent: 2em;

  line-height: 2.3;
  text-align:justify;
  text-justify:inter-ideograph;/*IE*/

  -webkit-margin-before: 0em;  
  -webkit-margin-after: 0em;
}



span{
  font-size: 12px;
  padding: 5px;
  line-height: 20px;
  vertical-align:middle;
}


body {

  @include clear;
  @media screen and (min-width: $break-sm) {
    // flex-basis: calc(50% - 2em - 4px);
    width:700px;
    margin:0 auto;
  }

  @media screen and (min-width: $break-md) {
    // flex-basis: calc(33.33333% - 2em - 4px);
    width:750px;
    margin:0 auto;
  }

  @media screen and (min-width: $break-lg) {
    flex-basis: calc(25% - 2em - 4px);
    width:800px;
    margin:0 auto;
  }

  @media screen and (min-width: $break-xl) {
    flex-basis: calc(16.66666% - 2em - 4px);}

}

input {
  outline: none;
}
