@import "globals";

html, body, div#react-container {
  min-height: 100%;
}

h1 {
  @include clear;
}

p {
  flex-basis: 100%;
  text-align: left;
  text-indent: 2em;
  line-height: 1.8em;
}

body {

  @include clear;
  @include fade-bg($light, $light-grey);

  div.app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

}

input {
  outline: none;
}
