@import "globals";

html, body, div#react-container {
  min-height: 100%;
}

h1 {
  @include clear;
}

p {
  flex-basis: 100%;
  text-indent: 2em;
  line-height: 1.8em;
  text-align:justify;
  text-justify:inter-ideograph;/*IE*/

  -webkit-margin-before: 0em;  
  -webkit-margin-after: 0em;
}

span{
  font-size: 12px;
  padding: 5px;

  line-height: 20px;
  vertical-align:middle;
}

body {

  @include clear;


  div.app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

}

input {
  outline: none;
}
