$light: rgba(255, 255, 255, 1);
$light-grey: rgba(229, 229, 229, 1);
$red: #900;
$font-heading: Verdana, sans-serif;

$break-sm: 700px;
$break-md: 1100px;
$break-lg: 1600px;
$break-xl: 2000px;

@mixin shadow {
  box-shadow: 1px 1px 1px 1px darken($light-grey, 1%);
}

@mixin fade-bg($from, $to) {
  background: $from;
  background: linear-gradient(to bottom, $from 80%, $to 100%);
}

@mixin clear {
  margin: 0;
  padding: 0;
}

@mixin box {
	
  display: flex;
  
	height:100%;
	background:white;
	margin:40px 20px;
}

@mixin  effect {
  position: relative;

  &:before, &:after
  {
    z-index:-1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #aaa;
    box-shadow: 0 15px 10px #aaa;
    transform: rotate(-2deg);
  }
  &:after
  {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }

  @media screen and (min-width: $break-sm) {
    flex-basis: calc(50% - 2em - 4px);
  }

  @media screen and (min-width: $break-md) {
    flex-basis: calc(33.33333% - 2em - 4px);
  }

  @media screen and (min-width: $break-lg) {
    flex-basis: calc(25% - 2em - 4px);
  }

  @media screen and (min-width: $break-xl) {
    flex-basis: calc(16.66666% - 2em - 4px);}
}

@mixin  wittness {
  @include shadow;
  border: 0px solid $light-grey;
  border-bottom-color: darken($light-grey, 40%);
  border-right-color: darken($light-grey, 40%);
  margin: 1em 0.5em;
  padding: 10px 10px;
  .title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    letter-spacing: 4px;

  }
  .wrap-after {
    shape-outside: polygon(100% 0,100% 100%,0% 100%,100% 100%,0% 0);
    float: right;
    width: 100px;
    height: 100px;
}

  .div-opacity{
    filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;
  }
  // flex-basis: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // position: relative;

  

  @media screen and (min-width: $break-sm) {
    flex-basis: calc(50% - 2em - 4px);
  }

  @media screen and (min-width: $break-md) {
    flex-basis: calc(33.33333% - 2em - 4px);
  }

  @media screen and (min-width: $break-lg) {
    flex-basis: calc(25% - 2em - 4px);
  }

  @media screen and (min-width: $break-xl) {
    flex-basis: calc(16.66666% - 2em - 4px);}
}