
.heart {
  transform:scale(0.1,0.1);
  width: 35px;
  height: 10px;
  position: relative;
  margin-bottom: 12px;

  &:before {
      content: "";
      border: 0 solid transparent;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px 100px 0 0;
      width: 80px;
      height: 120px;
      background: #aaa;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      position: absolute;
      left: 20px;
      }
      
    &:after {
    content: "";
    border: 0 solid transparent;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px 100px 0 0;
    width: 80px;
    height: 120px;
    background: #aaa;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    left: 49px;
    top: 5px;

    }
    &.selected {
      &:after  {
      background: red;
    }
      &::before  {
      background: red;
    }
    }
  }

.like{
  color: gray;
  font-weight: bold;
  &.selected {
    color: red;
    font-weight: bold;
  }
}
  
    .Hblock {
      display: block;
    }

  